body {
  background-color: #ededed;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1 {
  color: black;
}

h2 {
  color: rgb(0, 120, 191);
  margin-top: 0;
  margin-left: 0;
}

p {
  color: "black";
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
